body {
    overflow-x: hidden;
}

.rest-banner {
    width: 100vw;
    padding: 30px 0px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
    background-color: #d62424;
    margin-bottom: 30px;

    p {
        text-align: justify;
    }

    h2 {
        text-align: center;
    }

    img {
        aspect-ratio: 16/9;
    }
}

.carousel-item {
    img {
        width: 100%;
    }
}