.comment-block {
    display: flex;
    width: 100%;
    gap: 15px;
    flex-direction: row;
    align-items: center;
    text-align: justify;
}

.avatar-block {
    display: flex;
    align-items: flex-start;
}

.AvatarRoot {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    overflow: hidden;
    user-select: none;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: var(--black-a3);
}
  
.AvatarImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.AvatarFallback {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: var(--grass-11);
    font-size: 15px;
    line-height: 1;
    font-weight: 500;
}

.TooltipContent {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    font-size: 14px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
    // Exemplo de pseudo-classe
    &:hover {
        background-color: #444;
    }
}
  