.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;

    img {
        width: 200px;
        height: 200px;
    }

    input {
        width: 400px;
        height: 40px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    button {
        width: 400px;
        height: 40px;
    }
}